{{#if showLandingPage}}

<!-- This is the main container for the plugin -->
<div class="pb-5">

  <!-- Title Section -->
  <section>
    <div class="grid-center">
      <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 400px; background-color: #7392B7;">
        <div class="py-5 px-3">
          <h1 class="display-1"> Welcome, </h1>
          <h3 class="display-3"> to the demo page! </h3>
        </div>
      </div>
    </div>
  </section>


    <!-- Clock -->
  <section id="clock-main" class="grid-center no-display py-5">
    
    <!-- Days -->
    <div class="col text-center my-1 mr-1" id="clock-main-days-col">
      <div class="px-1 py-1">
        <div id="clock-days-value" class="display-2">
          00
        </div>
        <div class="clock-time-desc">
          Days
        </div>
      </div>
    </div>

    <!-- Hours -->
    <div class="col text-center my-1 mx-2" id="clock-main-hours-col">
      <div class="px-1 py-1">
        <div id="clock-hours-value" class="display-2">
          00
        </div>
        <div class="clock-time-desc">
          Hours
        </div>
      </div>
    </div>

    <!-- Minutes -->
    <div class="col text-center my-1 mx-2" id="clock-main-minutes-col">
      <div class="px-1 py-1">
        <div id="clock-minutes-value" class="display-2">
          00
        </div>
        <div class="clock-time-desc">
          Minutes
        </div>
      </div>
    </div>

    <!-- Seconds -->
    <div class="col text-center my-1 ml-1" id="clock-main-seconds-col">
      <div class="px-1 py-1">
        <div id="clock-seconds-value" class="display-2 ">
          00
        </div>
        <div class="clock-time-desc">
          Seconds
        </div>
      </div>
    </div>
  </section>


	<!-- Events -->
	<section id="events-main" class="grid no-display pb-6">

		<div class="col_xs-12_sm-6">
      {{event-list events=liveEvents label="Now On"}}
    </div>

    
    <div class="col_xs-12_sm-6">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>
	</section>

</div>

{{/if}}